<p id="notice"><%= notice %></p>

<h1>Senhas</h1>

<table>
  <thead>
    <tr>
      <th>Comanda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senhas.each do |senha| %>
      <tr>
        <td><%= senha.comanda %></td>
        <td><%= link_to 'Show', senha %></td>
        <td><%= link_to 'Edit', edit_senha_path(senha) %></td>
        <td><%= link_to 'Destroy', senha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Senha', new_senha_path %>
